<header>
	<div class="header-logo">
		TaskPostApp
	</div>
	<ul class="header-menus">
		<li>TaskPostAppとは</li>
	</ul>
</header>

<div class="main top-main">
	<div class="top-message">
		<h2>自分の終えた作業を投稿しよう！</h2>
		<p>終えた作業を投稿をして、アピールとモチベーションに繋げよう！</p>
	</div>
</div>
